header li {
    list-style: none;
}
header li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}
header li a:hover{
    color:darkgrey;
}
header h1{
   
        color: blue;
        text-align: center;
        font-size: 35px;

}
.con{
    color: blue;
}
.ti{
    color: blue;
}
body{
    background-image: url(./coci.jpeg);
    background-size: cover;
}
.conteiner{
    
   margin: 0 auto;
 
    display: grid;
   
    height: auto;
    text-align: center;
}
.im{
    width: 100%;
    height: auto;
}
.img{
width: 100%;
height: auto;
}
.r{
    
    display: flex;
   gap: 20px;
}
.one{
   
   color: white;
    width: 40%;  
text-align:justify;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: inherit;
}
.tow{
    
width: 30%;

}
.tree{
    
    width:30%;
    
}
@media screen and (max-width: 700px){
.conteiner{
    
    text-align:start;
 margin: initial; 
}
.co{
    width: 100%;
}
.ti{
    width: 100%;
}
.uno{
    text-align:start;
    margin: initial; 
}
}
#menu{
    background-color: black;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    display: inline-block; 
}
#menu ul li a{
    color:white;
    display: block;
    padding: 20px 60px;
    text-decoration: none;  
}
#menu ul li a:hover{
    background-color: #42b881;

}
#na{
    background-color: lemonchiffon;
}