ul{
    list-style: no;
}
ul li a{color: white;
    display: block;
    text-decoration: none;

}
.ull .lli .aa:hover{
    color:darkgrey;
    
}
header h1{
    
        color: blue;
        text-align: center;
        font-size: 35px;
    
}
.ul{
    
    background-color: black;
}
ul li{
    display: inline-block;
}
.ul .li .a{
    padding: 20px 60px;
}
.ul .li .a:hover{
    background-color: #42b881;}
body{
    margin: 0;
    padding: 0;
    background-image: url("./coci.jpeg");
    background-size: cover;
    font-family: sans-serif;
}
.login{
    height: 420px;
    width: 320px;
    background: #000;
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-30%, -30%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login .in{
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left:calc(50% -50%) ;
}
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}
.login input{
    width: 100%;
    margin-bottom: 20px ;
}
.login input[type="text"],
.login input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background: #fff;
    font-size: 18px;
    border-radius: 20px;
}


.login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.login a:hover{
    color: #fff;
}
header h1{
    color: blue;
    text-align: center;
    font-size: 30px;

}
@media screen and (max-width: 700px){
    .login{
    height: 400px;
    width: 220px;
    background: #000;
    color: #fff;
    top: 65%;
    left: 30%;
    position: absolute;
    transform: translate(-30%, -10%);
    box-sizing: border-box;
    padding: 70px 30px;
}
}